<app-progress-spinner class="example-margin"  [value]="value" [backdropEnabled]="true" [displayProgressSpinner]="spinnerWithoutBackdrop">
</app-progress-spinner>
<div class="card">
  <div class="card-header">
    <h2>COVID-19 CASE REPORT</h2>
    <alert></alert>
    <input type="text" class="form-control" [(ngModel)]="searchVal" (ngModelChange)='checkSearchVal()'
           placeholder="Search&hellip;" >
  </div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
        <tr>
          <th>{{'add-case-pui-case-code' | translate}}</th>
          <th>{{'add-case-name' | translate}}</th>
          <th>{{'add-case-pui-confirmed-result' | translate}}</th>
<!--          <th>{{'add-case-pui-parent-case' | translate}}</th>-->
            <th>{{'add-case-pui-current-status' | translate}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let case of cases">
          <td>{{case.caseCode}}</td>
          <td>{{case.firstName}} {{case.lastName}}</td>
          <td>{{case.confirmedResult.value}}</td>
<!--          <td>{{case.parentCaseCode}}</td>-->
<!--          <td>{{case.region}}</td>-->
            <td>
              <span *ngIf="case.status.value!==deceasedLabel" >{{case.status.value}}</span>
              <span *ngIf="case.status.value===deceasedLabel" style="background-color: red">{{case.status.value}}</span>
            </td>
          <td>
            <button pButton *ngIf="case.status.value===deceasedLabel" type="submit" label="{{'case-view-deceased-history-link' | translate}}" class="ui-button-rounded ui-button-danger" (click)="ViewDeceasedPatientHistory(case)"></button>
            <button pButton *ngIf="case.status.value!==deceasedLabel" pButton type="submit" label="{{'case-follow-up-link' | translate}}" class="ui-button-rounded ui-button-info" (click)="followUp(case)"></button>
            <!--            <button class="form-control" type="button" (click)="followUp(case)">{{'case-follow-up-link' | translate}}</button>-->
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
