<div class="row">
  <div class="card">
    <div class="card-header">
      <h2>RUMOR TO INVESTIGATE</h2>
    </div>
    <div class="card-body">


      <div class="row">
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'rumor-id' | translate}}: {{rumorToInvestigate.id}}  </h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'report-date-to-rrt' | translate}}: {{rumorToInvestigate.reportDate}}  </h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'suspect-name' | translate}}: {{rumorToInvestigate.suspectName}} </h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'gender' | translate}}: ({{rumorToInvestigate.gender}})</h2>
        </div>

        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'address' | translate}}: ({{rumorToInvestigate.address}})</h2>
        </div>

        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'fever' | translate}}: ({{rumorToInvestigate.fever}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'cough' | translate}}: ({{rumorToInvestigate.cough}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'cough' | translate}}: ({{rumorToInvestigate.headache}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'symptoms-duration' | translate}}: ({{rumorToInvestigate.symptomsDuration}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'Reporting Person Name' | translate}}: ({{rumorToInvestigate.reportingPersonName}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'relation-with-suspect' | translate}}: ({{rumorToInvestigate.relationWithSuspect}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'phone-number1' | translate}}: ({{rumorToInvestigate.phoneNumber1}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'phone-number2' | translate}}: ({{rumorToInvestigate.phoneNumber2}})</h2>
        </div>
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">{{'rumor-status' | translate}}: ({{rumorToInvestigate.status.value}})</h2>
        </div>
    </div>
      <alert></alert>
      <button (click)="markRumorApproval()" type="button" class="form-control">{{'rumor-mark-approval-button' | translate}}</button>
      <button  type="button" class="form-control">{{'rumor-report-pui-button' | translate}}</button>
      <button  type="button" class="form-control">{{'rumor-isolate-pui-button' | translate}}</button>
  </div>

</div>
</div>
