<!--<form ngNativeValidate [formGroup]="questionnaireForm" >
  <div >
  {{'questionnaire-header1'|translate}}

  <div *ngFor="let question of questions">
    <div>
      <label class="symptoms-margin"><strong> {{question.question}}: </strong></label>
    </div>

      <mat-radio-group  [(ngModel)]="question.options"  formControlName="options" *ngFor="let op of question.options">
        <mat-radio-button  class="symptoms-margin" >{{op}}</mat-radio-button>
      </mat-radio-group>

  </div>

</div>
</form>-->
<alert></alert>
<div class="container">
  <span *ngFor="let question of questions">
    <p-accordion >
        <p-accordionTab header="{{ question.question }}" [selected]="false">
          <mat-radio-group >
            <mat-radio-button class="questions-margin" *ngFor="let op of question.options"  [value]="op" (change)="onSelectionChange(question.id, question.question, op)" >{{op}}</mat-radio-button>
          </mat-radio-group>
        </p-accordionTab>
    </p-accordion>

<!--    <mat-expansion-panel >-->
<!--      <mat-expansion-panel-header>-->
<!--        <i class="search-category-icon far fa-question-circle"></i>&nbsp;{{ question.question }}-->
<!--&lt;!&ndash;         <i class="search-category-icon far fa-star"></i>&ndash;&gt;-->
<!--      </mat-expansion-panel-header>-->

<!--       <div>-->
<!--        <mat-radio-group >-->
<!--          <mat-radio-button class="questions-margin" *ngFor="let op of question.options"  [value]="op" (change)="onSelectionChange(question.id, question.question, op)" >{{op}}</mat-radio-button>-->
<!--        </mat-radio-group>-->
<!--&lt;!&ndash;        <div class="input-group-append" *ngIf="optionIsDate">&ndash;&gt;-->
<!--&lt;!&ndash;                <input class="form-control" matInput [matDatepicker]="qdate" [formControl]="today" (change)="onSelectionChange(question.id, question.question, $event.target)">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-datepicker-toggle matSuffix [for]="qdate"></mat-datepicker-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-datepicker #qdate></mat-datepicker>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--     </div>-->

<!--    </mat-expansion-panel>-->

  </span>

</div>
