.symptoms-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.symptoms-margin {
  margin: 0 10px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
