  <div class="content">
    <div class="row">
      <div class="mat-elevation-z8">
        <input type="text" class="form-control" [(ngModel)]="searchVal" (ngModelChange)='checkSearchVal()'
               placeholder="Search&hellip;" >
        <table mat-table [dataSource]="dataSource" matSort class="table tablesorter">
          <!-- Report Date Column -->
          <ng-container matColumnDef="reportDate" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'report-date-to-rrt' | translate}} </th>
            <td mat-cell *matCellDef="let rumor" >
              <span *ngIf="rumor.status.value===pendingLabel" style="color: orangered;">{{rumor.reportDate}} </span>
              <span *ngIf="rumor.status.value===waitingResultLabel" style="color: yellow;">{{rumor.reportDate}} </span>
              <span *ngIf="rumor.status.value===registeredLabel || rumor.status.value===inIsolationLabel" style="color: green;">{{rumor.reportDate}} </span>
            </td>
          </ng-container>

          <!--suspectName Column -->
          <ng-container matColumnDef="suspectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'suspect-name' | translate}} </th>
            <td mat-cell *matCellDef="let rumor">
              <span *ngIf="rumor.status.value===pendingLabel" style="color: orangered;"> {{rumor.suspectName}}</span>
              <span *ngIf="rumor.status.value===waitingResultLabel" style="color: yellow;"> {{rumor.suspectName}}</span>
              <span *ngIf="rumor.status.value===registeredLabel || rumor.status.value===inIsolationLabel" style="color: green;"> {{rumor.suspectName}}</span>
            </td>
          </ng-container>

          <!--Reporting Person name Column -->
          <ng-container matColumnDef="reportingPersonName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Reporting Person Name' | translate}} </th>
            <td mat-cell *matCellDef="let rumor">
              <span *ngIf="rumor.status.value===pendingLabel" style="color: orangered;">{{rumor.reportingPersonName}}</span>
              <span *ngIf="rumor.status.value===waitingResultLabel" style="color: yellow;">{{rumor.reportingPersonName}}</span>
              <span *ngIf="rumor.status.value===registeredLabel || rumor.status.value===inIsolationLabel" style="color: green;">{{rumor.reportingPersonName}}</span>
            </td>
          </ng-container>

          <!-- Relation with Suspect Column -->
          <ng-container matColumnDef="relationWithSuspect">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'relation-with-suspect' | translate}} </th>
            <td mat-cell *matCellDef="let rumor">
              <span *ngIf="rumor.status.value===pendingLabel" style="color: orangered;">{{rumor.relationWithSuspect}} </span>
              <span *ngIf="rumor.status.value===waitingResultLabel" style="color: yellow;">{{rumor.relationWithSuspect}} </span>
              <span *ngIf="rumor.status.value===registeredLabel || rumor.status.value===inIsolationLabel" style="color: green;">{{rumor.relationWithSuspect}} </span>
            </td>
          </ng-container>

          <!--Phone Number 1 Column -->
          <ng-container matColumnDef="phoneNumber1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'phone-number1' | translate}} </th>
            <td mat-cell *matCellDef="let rumor">
              <span *ngIf="rumor.status.value===pendingLabel" style="color: orangered;">{{rumor.phoneNumber1}}</span>
              <span *ngIf="rumor.status.value===waitingResultLabel" style="color: yellow;">{{rumor.phoneNumber1}}</span>
              <span *ngIf="rumor.status.value===registeredLabel || rumor.status.value===inIsolationLabel" style="color: green;">{{rumor.phoneNumber1}}</span>
            </td>
          </ng-container>

          <!-- Extra Column -->
          <ng-container matColumnDef="extra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let rumor">
              <button *ngIf="rumor.status.value===pendingLabel" type="button" class="form-control" (click)="investigateRumor(rumor)">
                {{'rumor-investigate-button' | translate}}
              </button>
              <button *ngIf="rumor.status.value===waitingResultLabel" type="button" class="form-control" (click)="reportOrIsolate(rumor)">
                {{'rumor-report-isolate-pui-button' | translate}}
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!--                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
      </div>
    </div>
    <div class="row" *ngIf="showInvestigate">
      <app-rumor-investigration [rumorToInvestigate]="rumorToInvestigate" [isReport]=isReport [isIsolate]=isIsolate>

      </app-rumor-investigration>
    </div>

  </div>
