<form ngNativeValidate [formGroup]="followupForm" (ngSubmit) = SearchPUI()>

<div class=" content">
  <div class=" row">

    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Search a PUI</h4>

        </div>
        <div class=" card-body">

          <div class="row">
            <div class=" col-sm-6 text-left">
              <mat-form-field>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="search" formControlName="searchTerm" placeholder="Enter {{this.followupForm.get('criteria').value}}" class="search-input" required>
              </mat-form-field>
              <button type="submit" class="form-control">Search</button>
            </div>
            <div class=" col-sm-6 text-left">
              <div class=" form-group">
                <section class="criteria-section">
                  <strong><label class="criteria-margin">Search By: </label></strong>
                  <mat-radio-group [(ngModel)]="searchCriteria" formControlName="criteria">
                    <mat-radio-button class="symptoms-margin" value="Case Code">Case Code</mat-radio-button>
                    <mat-radio-button class="symptoms-margin" value="Region">Region</mat-radio-button>
                    <mat-radio-button class="symptoms-margin" value="Result">Result</mat-radio-button>
                    <mat-radio-button class="symptoms-margin" value="Status">Status</mat-radio-button>
                    <mat-radio-button class="symptoms-margin" value="Recent Travel">Recent Travel</mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class=" col-md-12" *ngIf="showSearchResult" >
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">SEARCH RESULT</h4>
        </div>
        <div class=" card-body">
          <div class="row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Case code {{caseFollowUp.caseCode}}  </h2>
            </div>
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Name {{caseFollowUp.firstName}} {{caseFollowUp.lastName}}</h2>
              <h2 class=" card-title"> {{caseFollowUp.lastName}}</h2>
            </div>
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Status ({{caseFollowUp.status.value}})</h2>
            </div>
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Parent Case code ({{caseFollowUp.parentCaseCode}})</h2>
            </div>
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Presumptive Result ({{caseFollowUp.presumptiveResult.value}})</h2>
            </div>
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Confirmed Result ({{caseFollowUp.confirmedResult.value}})</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <alert></alert>
</div>


</form>
