<div class="logo">
  <a href="https://covid19casereporting-ethio.herokuapp.com/" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/logo.png" />
    </div>
  </a>
  <a href="/admin/home" class="simple-text logo-normal">
    {{'sidebar-title' | translate}}
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <h5>{{ menuItem.title | translate}}</h5>
      </a>
    </li>
  </ul>
</div>
