<nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class=" container-fluid">

    <div class=" navbar-wrapper">
        <a class=" navbar-brand" href="https://covid19casereporting-ethio.herokuapp.com/">
          <img src="./assets/img/ethiopia-flag-icon-32.png"/>
        </a>
    </div>
    <button
      aria-label="Toggle navigation"
      class=" navbar-toggler"
      (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
      id="navigation1"
      type="button"
    >
      <span class=" navbar-toggler-bar bar1"> </span>
      <span class=" navbar-toggler-bar bar2"> </span>
      <span class=" navbar-toggler-bar bar3"> </span>
    </button>

    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation1">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login" >{{'Login' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report-rumor" > {{'Report-rumor' | translate}}</a>
      </li>
      <label>
        <li class="nav-item">
        {{ 'choose-language' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)" class="form-control">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang" >{{
            lang }}</option>
        </select>
      </label>

<!--      <li>-->
<!--        <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">-->
<!--          <label #langSelect class=" btn btn-sm btn-info btn-simple" (click)="clicked1=true;clicked2=false; translate.use(langSelect)" [ngClass]="{'active':clicked1===true}">-->
<!--            <input checked="checked" name="options" type="radio" />-->

<!--            <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">-->
<!--                     En-->
<!--            </span>-->
<!--            <span class=" d-block d-sm-none">-->
<!--&lt;!&ndash;                      <i class=" tim-icons icon-single-02"> </i>&ndash;&gt;-->
<!--              <img src="./assets/img/uk_flag_24px.png"/>-->
<!--            </span>-->
<!--          </label>-->
<!--          <label class=" btn btn-sm btn-info btn-simple"  (click)="clicked1=false;clicked2=true;" [ngClass]="{'active':clicked2===true}">-->
<!--            <input class=" d-none d-sm-none" name="options" type="radio"/>-->
<!--            <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">-->
<!--              Am-->
<!--            </span>-->
<!--            <span class=" d-block d-sm-none">-->
<!--&lt;!&ndash;                      <i class="fa fa-line-chart" aria-hidden="true" style="color:red"> </i>&ndash;&gt;-->
<!--              <img src="./assets/img/et_flag_24px.png"/>-->
<!--            </span>-->
<!--          </label>-->
<!--        </div>-->
<!--      </li>-->

    </ul>
    </div>
  </div>
</nav>
