<div class=" content">

  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category"><img src="../../../assets/img/favicon-32x32.png"/></h5>
              <h2 class=" card-title">Total Corona virus Cases</h2>
            </div>
            <div class=" col-sm-6">
              <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Linear
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input class=" d-none d-sm-none" name="options" type="radio"/>
                  <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Logarithmic
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
<!--                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">-->
<!--                  <input class=" d-none" name="options" type="radio" />-->

<!--                  <span-->
<!--                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"-->
<!--                  >-->
<!--                    Sessions-->
<!--                  </span>-->
<!--                  <span class=" d-block d-sm-none">-->
<!--                    <i class=" tim-icons icon-tap-02"> </i>-->
<!--                  </span>-->
<!--                </label>-->
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Deaths</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 0
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Cases</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 2
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Currently Infected</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 26
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card card-tasks">
        <div class=" card-header">
          <h6 class=" title d-inline">Recent Cases</h6>
<!--          <p class=" card-category d-inline">today</p>-->
          <div ngbDropdown>
            <button
              class=" btn btn-link btn-icon"
              data-toggle="dropdown"
              ngbDropdownToggle
              type="button"
            >
              <i class=" tim-icons icon-settings-gear-63"> </i>
            </button>
            <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
              <a href="javascript:void(0)" ngbDropdownItem> Registered PUI 1 </a>
              <a href="javascript:void(0)" ngbDropdownItem> PUI 2 recovered </a>
              <a href="javascript:void(0)" ngbDropdownItem> PUI 3 in CRITICAL CONDITION </a>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th>Date</th>
                <th>Total Cases</th>
                <th>New Cases</th>
                <th>Total Deaths Caes</th>
                <th>New Deaths</th>
                <th>Active Cases</th>
                <th>Serious Critical</th>
                <th>Recovered</th>
<!--                <th class=" text-center">Salary</th>-->
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let case of caseStats">
                <td>{{case.reportDate}}</td>
                <td>{{case.totalCases}}</td>
                <td>{{case.newCases}}</td>
                <td>{{case.totalDeaths}}</td>
                <td>{{case.newDeaths}}</td>
                <td>{{case.activeCases}}</td>
                <td>{{case.criticalCases}}</td>
                <td>{{case.recovered}}</td>

              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!--    <div class=" col-lg-6 col-md-12">-->
<!--      <div class=" card">-->
<!--        <div class=" card-header">-->
<!--          <h4 class=" card-title">Recent Cases</h4>-->
<!--        </div>-->
<!--        <div class=" card-body">-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
